sample/src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb954c45-97aa-4698-b082-5be659df61da" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="bdffa697-f70d-42ba-912b-9647f4912a3e" config-ref="Web_Service_Consumer_Config" targetValue="#[payload]" operation="" target="">
		<wsc:connection wsdlLocation="https://winservices.deakin.edu.au/iam/api.asmx?WSDL" service="IAM" port="IAMSoap12" address="https://winservices.deakin.edu.au/iam/api.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="4505950b-8387-495a-907f-9532c0524794" >
		<file:connection workingDir="D:\mule7.5\sample\src\main\resources" />
	</file:config>
	<flow name="sampleFlow" doc:id="2d2c69d4-a54c-4c2e-a75e-2407c03b3609" >
		<http:listener doc:name="Listener" doc:id="70f0f21d-dc42-4e01-b2bd-3c18ae8c1ff5" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="0a40ab90-96a6-402c-bcc3-4f7a105de1da" message="++ First App ++"/>
		<ee:transform doc:name="Transform Message" doc:id="543c4cde-7e92-4bb6-80ec-8a2b9814906e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	sn : payload.squadName,
	status : payload.active,
	mem : payload.members map {
		name : $.name,
		age : $.age,
		powers : $.powers filter $ != "Blast11",
		(ID : $.secretID) if $.secretID == "unknown"
	}
}

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sampleFlow1" doc:id="2220dea3-1251-49f2-8326-e320cc5624b2" >
		<http:listener doc:name="Listener" doc:id="6b3348da-b573-4fed-a84e-76645236ca7f" config-ref="HTTP_Listener_config" path="/sample1"/>
		<ee:transform doc:name="Transform Message" doc:id="1251ec71-da44-4ac0-ad62-d5d3b399b3e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload reduce ((value, acc = {}) -> acc++ {
	(value.unit) : {
		(value.category) : value.stock reduce (v, acc1 = {}) -> {
			(v.label) : v.count
		}
	}
})
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="sampleFlow2" doc:id="eebc5df4-eb93-4152-8169-abdc375bf413" >
		<http:listener doc:name="Listener" doc:id="9e307082-414e-4ec8-a0ec-6d55e1093a5b" config-ref="HTTP_Listener_config" path="/BP3"/>
		<ee:transform doc:name="Transform Message" doc:id="bae92615-6e06-486e-8707-3f9029c9868c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload groupBy $.category]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
