sample_test/src/main/mule/sample_test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8fcaf65d-d773-4c8a-876e-15a092fa5df7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample_testFlow" doc:id="b544bccf-b54f-439c-8d4b-f3fe3571c763" >
		<http:listener doc:name="Listener" doc:id="4ad2c6e2-5c97-46b3-abc6-e7ce0c31dbc2" config-ref="HTTP_Listener_config" path="/sample_test"/>
		<logger level="INFO" doc:name="Logger" doc:id="1922dcc7-663b-43d6-82e7-2b5b1c3f0253" message="this is sample test project: #[message]"/>
	</flow>
</mule>
